name: Keep Render Alive

on:
  schedule:
    - cron: '*/14 * * * *'
  workflow_dispatch:

jobs:
  ping-site:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Website
        run: |
          curl -L -A "GithubActionsPing" https://blinkitclone-hjmy.onrender.com || true
